*-temp.scss

src/main/cinnamon/cinnamon-Dark.css
src/main/cinnamon/cinnamon-Light.css
src/main/cinnamon/cinnamon.css
src/main/gtk-3.0/gtk-Dark.css
src/main/gtk-3.0/gtk-Light.css
src/main/gtk-3.0/gtk.css
src/main/gtk-4.0/gtk-Dark.css
src/main/gtk-4.0/gtk-Light.css
src/main/gtk-4.0/gtk.css
src/main/gnome-shell/gnome-shell-Dark.css
src/main/gnome-shell/gnome-shell-Light.css
src/main/gnome-shell/gnome-shell.css
release/*.xz
src/assets/gtk-2.0/assets-blue-Dark-nord.svg
src/assets/gtk-2.0/assets-blue-Dark.svg
src/assets/gtk-2.0/assets-blue-nord.svg
src/assets/gtk-2.0/assets-blue.svg
src/assets/gtk-2.0/assets-Dark-nord.svg
src/assets/gtk-2.0/assets-Dark.svg
src/assets/gtk-2.0/assets-green-Dark-nord.svg
src/assets/gtk-2.0/assets-green-Dark.svg
src/assets/gtk-2.0/assets-green-nord.svg
src/assets/gtk-2.0/assets-green.svg
src/assets/gtk-2.0/assets-nord.svg
src/assets/gtk-2.0/assets-orange-Dark-nord.svg
src/assets/gtk-2.0/assets-orange-Dark.svg
src/assets/gtk-2.0/assets-orange-nord.svg
src/assets/gtk-2.0/assets-orange.svg
src/assets/gtk-2.0/assets-pink-Dark-nord.svg
src/assets/gtk-2.0/assets-pink-Dark.svg
src/assets/gtk-2.0/assets-pink-nord.svg
src/assets/gtk-2.0/assets-pink.svg
src/assets/gtk-2.0/assets-purple-Dark-nord.svg
src/assets/gtk-2.0/assets-purple-Dark.svg
src/assets/gtk-2.0/assets-purple-nord.svg
src/assets/gtk-2.0/assets-purple.svg
src/assets/gtk-2.0/assets-red-Dark-nord.svg
src/assets/gtk-2.0/assets-red-Dark.svg
src/assets/gtk-2.0/assets-red-nord.svg
src/assets/gtk-2.0/assets-red.svg
src/assets/gtk-2.0/assets-teal-Dark-nord.svg
src/assets/gtk-2.0/assets-teal-Dark.svg
src/assets/gtk-2.0/assets-teal-nord.svg
src/assets/gtk-2.0/assets-teal.svg
src/assets/gtk-2.0/assets-yellow-Dark-nord.svg
src/assets/gtk-2.0/assets-yellow-Dark.svg
src/assets/gtk-2.0/assets-yellow-nord.svg
src/assets/gtk-2.0/assets-yellow.svg
