// ================================================
//   _   ____  ______  _  _______  _  ___________ 
//  | | / / / / / __ \/ |/ / ___/ / |/ / ___/ __ \
//  | |/ / /_/ / /_/ /    / (_ / /    / (_ / /_/ /
//  |___/\____/\____/_/|_/\___/ /_/|_/\___/\____/ 
// ================================================


//=====================================
// ANIMATIONS
//=====================================
animations {
    slowdown 1.0
}

