// ================================================
//   _   ____  ______  _  _______  _  ___________ 
//  | | / / / / / __ \/ |/ / ___/ / |/ / ___/ __ \
//  | |/ / /_/ / /_/ /    / (_ / /    / (_ / /_/ /
//  |___/\____/\____/_/|_/\___/ /_/|_/\___/\____/ 
// ================================================


//=====================================
// WINDOW RULES
//=====================================
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    draw-border-with-background false
}
