// ================================================
//   _   ____  ______  _  _______  _  ___________ 
//  | | / / / / / __ \/ |/ / ___/ / |/ / ___/ __ \
//  | |/ / /_/ / /_/ /    / (_ / /    / (_ / /_/ /
//  |___/\____/\____/_/|_/\___/ /_/|_/\___/\____/ 
// ================================================

//=====================================
// INPUT CONFIGURATION
//=====================================

input {
    keyboard {
        xkb {
            layout "us"
            options "grp:rctrl_rshift_toggle,numpad:mac,compose:ralt"
        }
    }
    touchpad {
        tap
        accel-speed 0.2
        accel-profile "adaptive"
        scroll-method "two-finger"
    }
    mouse {
        accel-profile "flat"
    }
    tablet {
        map-to-output "DP-2"
    }

    focus-follows-mouse
}

cursor {
    xcursor-size 24
}