// ================================================
//   _   ____  ______  _  _______  _  ___________ 
//  | | / / / / / __ \/ |/ / ___/ / |/ / ___/ __ \
//  | |/ / /_/ / /_/ /    / (_ / /    / (_ / /_/ /
//  |___/\____/\____/_/|_/\___/ /_/|_/\___/\____/ 
// ================================================


prefer-no-csd

//=====================================
// IMPORT SOURCE
//=====================================
include "Niri/start.kdl"
include "Niri/outputs.kdl"
include "Niri/layout.kdl"
include "Niri/animations.kdl"
include "Niri/keybinds.kdl"
include "Niri/rules.kdl"


//=====================================
// INPUT CONFIGURATION
//=====================================
input {
    keyboard {
        xkb {
            layout "us"
            options "grp:rctrl_rshift_toggle,numpad:mac,compose:ralt"
        }
    }
    touchpad {
        tap
        accel-speed 0.2
        accel-profile "adaptive"
        scroll-method "two-finger"
    }
    mouse {
        accel-profile "flat"
    }
    tablet {
        map-to-output "DP-2"
    }

    focus-follows-mouse
}

cursor {
    xcursor-size 24
}


//=====================================
// SWITCH EVENTS
//=====================================
// Core spawns & globals
spawn-at-startup "xwayland-satellite"

hotkey-overlay {
    skip-at-startup
}

config-notification {
    disable-failed
}

debug {
    honor-xdg-activation-with-invalid-serial
}

// Environment Variables
environment {
    DISPLAY ":0"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"

    // Wayland Platform Settings
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"

    // GTK Settings
    GDK_BACKEND "wayland,x11"

    // Firefox Wayland
    MOZ_ENABLE_WAYLAND "1"
    MOZ_DBUS_REMOTE "1"

    // Java Applications
    _JAVA_AWT_WM_NONREPARENTING "1"

    // SDL Applications
    SDL_VIDEODRIVER "wayland"

    // CLUTTER Applications
    CLUTTER_BACKEND "wayland"

    // Performance
    VDPAU_DRIVER "va_gl"
    LIBVA_DRIVER_NAME "iHD"
}

//=====================================
// SCREENSHOT PATH
//=====================================
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"


