// ================================================
//   _   ____  ______  _  _______  _  ___________ 
//  | | / / / / / __ \/ |/ / ___/ / |/ / ___/ __ \
//  | |/ / /_/ / /_/ /    / (_ / /    / (_ / /_/ /
//  |___/\____/\____/_/|_/\___/ /_/|_/\___/\____/ 
// ================================================

//=====================================
// IMPORT SOURCE
//=====================================
include "config.d/environments.kdl"
include "config.d/autostart.kdl"
include "config.d/monitor.kdl"
include "config.d/input.kdl"
include "config.d/appearance.kdl"
include "config.d/animations.kdl"
include "config.d/keybinds.kdl"
include "config.d/layout.kdl"
include "config.d/rules.kdl"

//=====================================
// SCREENSHOT PATH
//=====================================
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"